.header {
  font-size: 3em;
  /* color: "#19aad5"; */
  margin-top: 2vh; 
  font-family: Poppins;
  color: #FFFFFF;
  font-weight: 600;
  text-align: left;
  letter-spacing: -2px;
}

.container {
  width: 100vw;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  color: #FFFFFF;
  font-weight: 600;
}


.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

